.app-wrapper {
  margin: 0 0;
  display: flex;
  border-radius: 0px 0px 0px 24px;
  height: 100%;
  background: #fff4ee;
  border-radius: 24px;
  
}
.app-wrapper-nav {
  flex-basis: 9.4%;
}

.app-wrapper-box {
  flex-grow: 1;
}
.app-wrapper-content {

}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  top: 194px;
  background: #F2CBBF;
}

::-webkit-scrollbar-thumb {
  background-color:#C4C4C4;
  width: 100px;
  height: 23px;
}